{
	email {$ACME_EMAIL}
	admin off
}

(security_headers) {
	header {
		-Server
		X-Content-Type-Options "nosniff"
		X-Frame-Options "SAMEORIGIN"
		Referrer-Policy "strict-origin-when-cross-origin"
		Permissions-Policy "camera=(), microphone=(), geolocation=()"
	}
}

http://91.227.68.176 {
	import security_headers
	encode zstd gzip
	request_body {
		max_size 20MB
	}

	reverse_proxy frontend:3000
}

deere-shop.ru, www.deere-shop.ru {
	import security_headers
	encode zstd gzip
	request_body {
		max_size 20MB
	}

	reverse_proxy frontend:3000
}

cms.deere-shop.ru {
	import security_headers
	encode zstd gzip

	request_body {
		max_size 50MB
	}

	reverse_proxy directus:8055
}
